body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #111;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: black;
  border-bottom: 1px solid gold;
}

.navbar h1 {
  color: gold;
}

.navbar button {
  margin: 5px;
  background: gold;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
}

.cart {
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.card button {
  background: gold;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}
